body {
	margin: 0; padding: 0;
	font: 70%/1.5 Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #333; 
	background: #FFF url(../images/bg.gif) repeat-x;	
}

/**********************************
  LAYOUT 
***********************************/
#wrap {
	width: 1180px;
	margin: 0 auto; 
	text-align: left;
}

/* header */
#header {
	position: relative;
	margin: 0; 
	padding: 0;
	height: 60px;
}
#header span#slogan {
	z-index: 3;
	position: absolute;
	left: 3px; 
	bottom: 7px;
	font: bold 1.2em Verdana, Arial, Tahoma,  Sans-serif;	
	color: #FFF;
}

#header-logo {
	position:  relative;
	clear: both;
	height: 50px; 
	margin: 0;
	padding: 0;
}
#header-logo #logo {
	position: absolute;
	top: 3px; left: 5px;
	font: bold 30px "trebuchet MS", Arial, Tahoma, Sans-Serif;
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #000;
}

/* navigation tabs */
#header ul {
	position: absolute;
   margin:0;
   list-style:none;
	right:-18px ; bottom: 3px;
	font: bold 13px 'Trebuchet MS', Arial, Sans-serif;
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   background: url(tableft.gif) no-repeat left top;
   margin:0;
   padding:0 0 0 4px;
   text-decoration:none;
}
#header a span {
   float:left;
   display:block;
   background: url(tabright.gif) no-repeat right top;
   padding:5px 15px 4px 6px;
   color:#FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFF;
}
#header a:hover {
   background-position:0% -42px;
}
#header a:hover span {
   background-position:100% -42px;
}
#header #current a {
   background-position:0% -42px;
}
#header #current a span {
   background-position:100% -42px;
}

/* main column */
#main {
	float: left;
	margin: 0px 10px 0px 10px; /* right */
	padding: 0;
	width: 500px;
}
#main h1 {
	margin: 10px 0;
	padding: 4px 0 4px 8px; 
	font-size: 105%;
	color: #FFF;
	text-transform: uppercase; 
	background-color: #333;	
	letter-spacing: .5px;
}


#register {
	background: #ccc;
	width: 320px;
	padding: 10px 10px 10px 10px; 
}

#main h2 {
	text-align: left;
	margin-top: 10px;
	font: Bold 140% 'Trebuchet MS', Tahoma, Sans-serif;
	color: #88ac0b; 
	padding: 5px 0 5px 25px; 	
	border-bottom: 1px solid #EFF0F1;
	background: #CCC url(../images/square-green.png) no-repeat 3px 50%;	
	text-transform: none;
}

#main h3 {
	border-bottom: 1px solid #f2f2f2; 
	background: url(../images/bullet.gif) no-repeat 3px 2px;	
	padding: 3px 5px 3px 25px;
	margin: 0;	
}

#main a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
	color: #0000A0;	/* light blue */
}

/* footer */
.footer { 
	clear: both; 	
	border-top: 1px solid #f2f2f2;
	background: #FFF url(footerbg.gif) repeat-x;
	padding: 2px 0 10px 0; 
	text-align: center;  
	line-height: 1.5em;	
	font-size: 95%;
}
.footer a { 
	text-decoration: none; 
	font-weight: bold;		
}


#login_form {
	width: 300px;
	background: #f0f0f0 url(../img/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	-moz-border-radius: 3px;
}
h1,h2,h3,h4,h5 {
	margin-top: 0;
	font-family: arial black, arial;
	text-align: center;
}

input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	width: 280px;
	border: 5px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 1em;
}

input[type=submit], form a {
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #348075;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}

input[type=submit]:hover, form a:hover {
	background: #287368;
	cursor: pointer;
}




/* Validation error messages */

.error {
	color: #E23C3C;
	font-size: 15px;
}

fieldset {
	width: 300px;
	margin: auto;
	margin-bottom: 0em;
	display: block;
}

/* FOR FUN */

h1 {
	text-shadow: 0 1px 0 white;
}

/* Not necessary. Just the "tutorial created by" stuff at the bottom */

#tutInfo {
	background: #e3e3e3;
	border-top: 1px solid white;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: .7em .7em .7em 2em;
}
