@charset "utf-8";
.map_contianer {
	background-image: url(../images/template/map.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 325px;
	width: 760px;
	position: relative;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	float: right;
	margin: 0px 0px 0px 20px;
}
