@CHARSET "ISO-8859-1";

.comments_header_button {
	float: right;
    font-size: 13px;
    position: relative;
    top: 5px;
    /* color: #FFFFFF !important; */
    text-shadow: 0 1px 0 #333333;
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #B3B3B3;
    padding: 5px 9px 4px;
    text-decoration: none !important;
	padding: 0px;
	margin: 5px 10px;
}

.comments {
    overflow: hidden;
    width: 100%;
	float:left;
}
.comments h1 {
	float: left;
    font-size: 20px;
    letter-spacing: -1px;
    color: #000000;
    font-family: Helvetica,Arial;
    font-weight: bold;
    line-height: 1.1em;
    padding: 0px;
	margin: 5px 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.comments h1 span {
    color: #5F5F5F;
    font-size: 15px;
}

.comment-body {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DFDFDF;
    min-height: 80px;
    overflow: hidden;
    padding: 20px 20px 0 80px;
    position: relative;
	margin: 0 !important;
}

.fn {
    float: left;
    font-family: Helvetica,Arial;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-right: 5px;
}

.comment-body .comment-meta {
    font-size: 12px;
    font-style: italic;
    padding: 0 0 0 5px;
    color: #989898;
}
.comments a{
    margin: 0 0 0 10px;
}

.comment-body p {
    padding: 0px;
	margin: 0px;
    font-size: 13px;
}
.fn a:link, .fn a:visited {
    color: #276056;
	margin-left: 10px;
}

.comment-reply-link {
    background: none repeat scroll 0 0 #F9F9F9;
    border-right: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    font-family: Tahoma;
    font-size: 10px;
    left: 0;
    bottom: 0;
	padding: 0 8px 1px;
    position: absolute;
    text-decoration: none !important;
    text-transform: uppercase;
}

li.comment {
    list-style: none outside none !important;
}


.comment-body .avatar {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 5px;
    top: 5px;
}
.comment-author {
	height: 20px;
	float: left;
	margin: 0 5px;
}
.comment-body .date {
	height: 20px;
	float:left;
	margin: 0 5px;
	text-decoration:underline;
	color: #49B6E9;
	font-style: italic;
}
.comment-body .replies {
float:left;
	height: 20px;
	margin: 0 5px;
}
.comment-body .content {
}












